@model YourProjectName.Areas.Rental.Models.RentalHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/bootstrap")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="align-items-center">
        <h2 class="rent-card text-center">Edit Rental History</h2>

        <div class="rent-card cms-bg-main">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RentalHistoryId)

            <div class="form-row d-flex p-2">

                <!--Rental-->
                <div class="form-group p-2 col-md-6">
                    @Html.LabelFor(model => model.Rental, htmlAttributes: new { @class = "font-weight-bold" })
                    @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
                </div>

                <!-- Damaged? -->
                <div class="form-group p-2 col-md-6">
                    <div class="form-check text-center">
                        @Html.LabelFor(model => model.RentalDamaged, "Damaged ?", htmlAttributes: new { @class = "font-weight-bold" })
                    </div>
                    <div class="form-check text-center">
                        @Html.CheckBoxFor(model => model.RentalDamaged, new { @id = "rentalDamaged", @class = "checkbox form-check-input position-static" })
                    </div>
                    @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
                </div>

                <!-- Damages Incurred / Notes -->
                <div class="form-group col-md-12">
                    <label id="damagesLabel" for="DamagesIncurred" class="font-weight-bold text-white mr-2">Notes</label>
                    @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control col", @id = "DamagesIncurred" } })
                    @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
                </div>

                <!-- Buttons -->
                <div class="form-group col-md-12 text-center">
                    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("BackToList")'">
                        Back to List
                    </button>
                    <button type="submit" value="Save" class="btn btn-dark">Save</button>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
